<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
		<title></title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<img th:src="@{/images/blog.png}" style="width: 30%; height: 30%;">
				<div class="row">
					<!-- LEFT SIDE OF PAGE 8 cols -->
					<div class="col col-md-8">
						<h5 style="text-align: left;">Recent Blogs</h5>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<div class="caption">
									<h3>Blog Title</h3>
									<p>This would load about 3-4 lines of blog text.</p>
									<p><a href="#" class="btn btn-primary" role="button">Read</a></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<div class="caption">
									<h3>Blog Title</h3>
									<p>This would load about 3-4 lines of blog text.</p>
									<p><a href="#" class="btn btn-primary" role="button">Read</a></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<div class="caption">
									<h3>Blog Title</h3>
									<p>This would load about 3-4 lines of blog text.</p>
									<p><a href="#" class="btn btn-primary" role="button">Read</a></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<div class="caption">
									<h3>Blog Title</h3>
									<p>This would load about 3-4 lines of blog text.</p>
									<p><a href="#" class="btn btn-primary" role="button">Read</a></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<div class="caption">
									<h3>Blog Title</h3>
									<p>This would load about 3-4 lines of blog text.</p>
									<p><a href="#" class="btn btn-primary" role="button">Read</a></p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<div class="caption">
									<h3>Blog Title</h3>
									<p>This would load about 3-4 lines of blog text.</p>
									<p><a href="#" class="btn btn-primary" role="button">Read</a></p>
								</div>
							</div>
						</div>
					</div>
					<!-- RIGHT SIDE OF PAGE -->
					<div class="col col-md-4">
						<div class="row">
							<div class="thumbnail">
								<div class="caption">
									<span th:if="${session.containsKey('userData') && session.userData != null} ">		
										<h3>Welcome back, <span th:if="${session.containsKey('userData')}" th:text="${session.userData.email}">email</span></h3>																		
										<p><a href="/logout/" class="btn btn-primary" role="button">LOGOUT</a></p>	
									</span>
									<span th:if="${session.isEmpty()}">
										<h3>Have an account?</h3>
										<p><a href="/login/" class="btn btn-primary" role="button">LOGIN</a></p>									
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="thumbnail">
								<div class="caption">
									<h3>Popular Posts</h3>
									<ul>
										<li>Post 1</li>
										<li>Post 2</li>
										<li>Post 3</li>
										<li>Post 4</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row">
							<a href="https://www.gcu.edu" class="thumbnail">
								<img th:src="@{/images/gcu.jpg}">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>