<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
		<title>Blog. Login</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h2>Enter your login information</h2>
			<div class="container">
				<div class="d-flex text-center bg-secondary">
					<form class="form-login" action="#" th:action="@{doLogin}" th:object="${userModel}" method="POST">
	  					<div class="mb-3">
	    					<br/><label for="email" class="form-label">E-mail:</label>
	    					<input type="email" class="form-control mb-2 ip-2" id="email" aria-describedby="emailHelp" placeholder="e-mail address" th:field="*{email}" required autofocus>    			
	  					</div>
	  					<div class="mb-3">
	    					<br/><label for="password" class="form-label">Password:</label>
	    					<input type="password" class="form-control mb-2" id="password" placeholder="password" th:field="*{password}" required>
	  					</div>
	  					<br/><button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
